
body {
    background-image: url('https://img.goodfon.com/original/1920x1080/f/50/khellouin-halloween-noch-kladbishche-mogily-tykvy-letuchie-m.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}


